
#sticker-paper {
    background-color: lightgray;
    width: 300px;
    height: 200px;
    padding: 4px 4px 2px 4px;
  }
  
  
h1, h3 {
    margin: 0px;
  }   
  
h1 {
    font-size: 50px;
    line-height: 3rem;
    padding-bottom: 0px;
  }
  
h3 {
    font-size: 20px;
    line-height: 1rem;
  }
  
#hello {
    background-color: red;
    color: white;
    height: 40%;
    font-family: 'Poppins';
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
#firstname {
    background-color: white;
    height: 100px;
    width: 300px;
    font-family: 'Poppins';
    font-weight: bold;
    position: absolute; top: 95px;
    text-align: center; 
}
footer {
    background-color: red;
    width: 300px;
    height: 30px;
    position: absolute; top: 180px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

#name-tag-name {
    text-align: center;
}